

<section id="Advanced topics in Reinforcement learning">
<div class="container">
	<div class="panel panel-default">2
    <div class="panel-body">
<img src="{{ site.baseurl }}/static/img/2in1.png" width="730" height="250"> 
  <h3>Available topics</h3>
		<h5>
			&nbsp;&nbsp;<strong>General Information</strong>
		</h5>
      <article>
        <p>
<ul>
<li>  The lecture and tutorials are held in English.</li>
<li>  The course is open to TU students as well as exchange students and visiting students.</li>
<li>  No formal registration is required to attend the course or even possible. The registration is only relevant for the exam.</li>
<li>  The exam registration procedure is announced in the first lecture. Prior registration/reservation is not possible.</li>
<li>  Each student has to present at least one paper on a state of the art algorithm in RL (A list of papers will be uploaded soon).</li>
<li>  Students can form groups and apply at least one of the algorithms to the toy-model of their choice.</li>
</ul>
        </p>
</article>
<h5>&nbsp;&nbsp;<strong>Topics</strong></h5>
<article>
<p>
<ul>
	<li>Partial observability on Reinforcement learning.</li>
	<li>RL methods for training multiple-agents.</li>
	<li>RL and meta learning</li>
</ul>
</p>
 </article>
<h5>&nbsp;&nbsp;<strong>Prequisites</strong></h5>
<article>
<p>
<ul>
<li>Solid mathematical knowledge: analysis, linear algebra, probability calculus and statistics.</li>
	<li>Basic programming skills, preferably Python</li>
</ul>
</p>
 </article>
    </div>
    </div>
  </div>
   </section>



 
