

<section id="Advanced topics in RReinforcement learning">
<div class="container">
<img class="image"       img src="{{ site.baseurl }}/static/img/Hanabi.jpeg"> <img class="image"       img src="{{ site.baseurl }}/static/img/download.jpeg">
  <h3>Available topics</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			&nbsp;&nbsp;<strong>  Meta-learning techniques in Reinforcement Learning, with applications
on multi-agent cooperative tasks. The game of Hanabi</strong>
		</h5>
      <article>
        <p>
         <ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
        </p>
    </article>
    <article>
      Prequisites: Know how to build and train Neural Networks in tensorflow or Keras, Basic knowledge of probability theory and Markov decision processes.
      </article>
      <article>
        Bonus for having knowledge in: Mainstream RL algorithms. Mathematical Logic.
      </article>
    </div>
    </div>
  </div>
   </section>



 
