  <section id="Advanced RL Seminar">
The seminar is focused on the state of the art algorithms on RL. Areas to be covered: 
(i) RL on cooperative agents
(ii) RL and meta learning
(iii) RL and partial observability
<table border="0" summary="Course details"></tr></thead><tbody>
<tr class="odd">
<td><strong>Credits</strong></td>
<td><strong>Time</strong></td>
<td><strong>Lecturer</strong></td>
<td><strong>Room</strong></td>
<td><strong>Language</strong></td>
</tr>
<tr>
<td>2 SWS Lecture</td>
<td>Wed 14-16</td>
<td>Dr. Vaios Laschos</td>
<td>MA 005</td>
<td>English</td>
</tr>
</tbody></table>
