<!DOCTYPE html>
<html>
<head>
    <title>My CV</title>
    <meta name="description" content="My CV">
    <meta name="author" content="My CV @twitter">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/layout.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <header class="four columns">
        <img src="{{ site.baseurl }}/static/img/profile.jpg" class="me">
        <h1>Vaios Laschos</h1>
        <p>
            <a href="tel:+4915780744980">+4915780744980</a>
        </p>
        <address>
            <a href="https://www.google.de/maps/place/Weierstra%C3%9F+Institut+f%C3%BCr+Angewandte+Analysis+und+Stochastik/@52.5125351,13.3938521,17z/data=!3m1!4b1!4m2!3m1!1s0x47a851d9edd75f7b:0x8fe84edba1eae742?hl=en">
                Mohrenstrasdse 39<br/>
                10117, Berlin<br/>
                Germany
            </a>
        </address>
        <p>
            <a href="mailto:Vaios.laschos@wias-berlin.de">Vaios.laschos@wias-berlin.de</a><br/>
            <a href="https://www.linkedin.com/in/vaios-laschos-882b01b6?trk=hp-identity-name"><i class="fa fa-linkedin"></i> Linkedin</a> /
            <a href="https://www.facebook.com/vaios.laschos"><i class="fa fa-facebook"></i> Facebook</a>
        </p>
    </header>
    <div class="twelve columns clearfix">

        <section class="twelve columns">
    <h1>Academic Appointments</h1>
    <article>
        <header>
            <h1><a href="https://www.wias-berlin.de/"> WIAS </a></h1>
            <span><address>Berlin, Germany</address><time>November 2015 to Present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1>
			<a href="https://www.brown.edu/academics/applied-mathematics/"> Brown University </a>
            </h1>
			<span><address>Providence, USA</address> <time>August 2013 to 2015</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1><a href="http://www.mis.mpg.de/index.html">Max-Planck Institute</a></h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
</section>


<section class="twelve columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Applied Mathematics</h1>
            <span><a href="http://www.bath.ac.uk/math-sci/">University of Bath</a>,</span>
            <address>Bath, UK. From 2009 to 2013</address>
        </header>
        <p>
            <em>Thesis: Wasserstein gradient flows via large deviations from thermodynamic limits of independent particle models.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Master in Pure Mathematics</h1>
            <span><a href="http://www.math.auth.gr/en/node/44"> Aristotle University of Thessaloniki</a></span>
            <address>Thessaloniki, Greece. From 2005 to 2009</address>
        </header>
        <p>
            <em>Dissertation: Potential theory and Brownian motion.</em>
        </p>
    </article>
	 
	  <article>
        <header>
            <h1>Major in Pure Mathematics</h1>
            <span><a href="http://www.math.auth.gr/en/node/44"> Aristotle University of Thessaloniki</a></span>
            <address>Thessaloniki, Greece. From 2000 to 2005</address>
        </header>
    </article>
</section>


<section class="twelve columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Latex</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Matlab</em>, <em>PHP</em> &amp; <em>Git</em>
        </p>
        <p>
            <i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML</em> &amp <em>Python</em>
        </p>
    </article>
</section>

<section class="twelve columns">
    <h1>Language Skills</h1>
    <article>
        <header>
            <h1>Software engineering & web development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Greek, English</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Spanish</em>
        </p>
        <p>
          <i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>German</em> 
        </p>
    </article>
</section>

<section class="twelve columns">
    <h1>Hobbies</h1>
    <article>
        <p> Climbing, Yoga, Travelling, Cooking.</p>
    </article>
</section>


    <footer class="twelve columns">
        <p>© All rights reserved. Powered by <a href="http://jekyllrb.com/">Jekyll</a> and
            <a href="https://www.github.com/biomadeira/vitae">vitae</a> with ♥</p>
    </footer>
    </div>
</div>	
</body>
</html>